{% extends 'core/base.html' %}
{% block title %}Add Task{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl">Add Task</h1>

    <form class="mt-6 px-8 space-y-4" method="post" action=".">
        {% csrf_token %}
        <div>
            <label>Name</label><br>
            <label>
                <input name="name" type="text" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg">
            </label>
        </div>
        <div>
            <label>Description</label><br>
            <label>
                <textarea name="description" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg"></textarea>
            </label>
        </div>
        <div>
            <label for="status">Status</label><br>
            <select name="status" id="status" type="text" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg">
                <option value="open">Open</option>
                <option value="in_progress">In Progress</option>
                <option value="done">Done</option>
            </select>
        </div>

        <div>
            <button class="py-4 px-8 bg-sky-600 text-white rounded-lg">Submit</button>
            <a href="{% url 'todolist:todolist' project.id todolist.id %}" class="py-4 px-8 bg-red-600 text-white rounded-lg">Cancel</a>
        </div>
    </form>

{% endblock %}