{% extends 'core/base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}

    <h1 class="mb-6 text-3xl">Projects</h1>
    <a href="{% url 'project:add' %}"
       class="py-4 px-8 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-lg inline-block">
        Add Project
    </a>
    {% if projects %}
        <div class="mt-6 mb-20 md:mb-8 lg:mb-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for project in projects %}
                <div class="shadow-md divide-y divide-blue-200 block rounded-lg bg-gray-100 text-center text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
                    <div class="border-neutral-300 mx-2 px-6 py-3 dark:border-white/30">
                        Project
                    </div>
                    <div class="p-6">
                        <h5 class="mb-2 text-xl font-medium leading-tight ">
                            {{ project.name }}
                        </h5>
                        <p class="mb-4 text-sm ">
                            {{ project.description | truncatechars:50 }}
                        </p>
                        <button
                                type="button"
                                class="inline-block rounded bg-gradient-to-r from-cyan-500 to-blue-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                                data-twe-ripple-init
                                data-twe-ripple-color="light">
                            Details
                        </button>
                    </div>
                    <div class="flex items-center justify-between border-t-2 border-neutral-300 mx-2 px-6 py-3 text-sm text-surface/75 dark:border-white/10 dark:text-neutral-300">
                        <div>
                            Owner: {% firstof project.created_by.name project.created_by.email %}
                        </div>
                        <div>
                            Added on: {{ project.created_at | date:"F j, Y" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No projects found.</p>
    {% endif %}
{% endblock %}