<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Project Manager | Sign up</title>
</head>
    <body>
        <nav class="py-6 px-8 flex items-center justify-between bg-slate-800">
            <h1 class="text-xl text-white">Project Manager</h1>
            <div class="space-x-4">
                <a href="#" class="text-white">About</a>
                <a href="#" class="py-4 px-8 bg-slate-600 text-white rounded-lg">Login</a>
                <a href="#" class="py-4 px-8 bg-sky-600 text-white rounded-lg">Sign up</a>
            </div>
        </nav>
    <main class="py-6 px-8">
        <div class="max-w-xl py-4 mx-auto bg-slate-800 text-center rounded-lg">
            <h1 class="text-3xl text-white">Sign up</h1>
            
            <form class="mt-6 px-8 space-y-4">
                <div>
                    <label class="text-white">E-mail</label><br>
                    <label>
                        <input type="email" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg">
                    </label>
                </div>
                <div>
                    <label class="text-white">Password</label><br>
                    <label>
                        <input type="password" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg">
                    </label>
                </div>
                <div>
                    <label class="text-white">Repeat password</label><br>
                    <label>
                        <input type="password" class="w-full py-2 px-3 bg-slate-500 text-white rounded-lg">
                    </label>
                </div>
                <div>
                    <button class="py-4 px-8 bg-sky-600 text-white rounded-lg">Sign up</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="py-8 px-8 bg-slate-900 text-center">
        <p class="text-white">Copyright &copy; 2024</p>
    </footer>
    </body>
</html>